<form class="forms">

    <div>
        <label class="font--label">label here</label>
        <input
                  class="forms__input"
                  placeholder="Set your coloums and rows"
                  spellcheck="true"></input>
    </div>

    <div>
        <label class="font--label">Label</label>
        <input class="forms__input--email" type="email" maxlength="255" placeholder="Examples should be placed here     "/>
    </div>

    <button class="bubble" type="submit" value="Submit">SUBMIT</button>


</form>
