<div class="spacer__small-vertical">
    <div class="three-column-promo">
        <a href="#">
            <img class="spacer__bottom" src="/img/ivn-logo.svg">
            <div>
                IVN is a platform for unfiltered political news from independent-minded authors, bound only by a simple etiquette.
            </div>
        </a>
    </div>
    <div class="three-column-promo three-column-promo__middle">
        <a href="#">
            <img width="175px" class="spacer__bottom" src="/img/img-ep-logo.svg">
            <div>
                Our legal strategy is the first organized effort to assert the right of every voter to have an equally meaningful vote , regardless of their party affiliation.
            </div>
        </a>
    </div>
    <div class="three-column-promo">
        <a href="#">
            <img class="spacer__bottom" src="/img/img-ivp-conference.svg">
            <div>
                IVP holds non-partisan substantive discussions on critical issues facing our communities.
            </div>
        </a>
    </div>
</div>