<div style="background: black; height: 200px; width: 100%;"></div>

<ul class="site-features__list">
    <li class="site-features__item">
        <a href="/ivn" class="site-features__link">
            <img class="site-features__img" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5339e3d3ebad64420b000001/attachments/original/1409092662/img-ivn-logo.svg?1409092662">
            <div>IVN is a platform for unfiltered political news from independent-minded authors, bound only by a simple etiquette.</div>
        </a>
    </li>
    <li class="site-features__item">
        <a href="/legal_strategy" class="site-features__link">
            <img class="site-features__img" width="250px" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5339e3d3ebad64420b000001/attachments/original/1428369547/img-ivp-legal.svg?1428369547">
             <div>Our legal strategy is the first organized effort to assert the right of every voter to have an equally meaningful vote, regardless of their party affiliation.</div>
        </a>
    </li>
    <li class="site-features__item">
        <a href="/ivp_conferences" class="site-features__link">
            <img class="site-features__img" width="250px" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5339e3d3ebad64420b000001/attachments/original/1428369545/img-ivp-conferences.svg?1428369545">
             <div>IVP holds non-partisan substantive discussions on critical issues facing our communities.</div>
        </a>
    </li>
    <li class="site-features__item">
        <a href="ivp_chapter_program" class="site-features__link">
            <img class="site-features__img" width="250px" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5339e3d3ebad64420b000001/attachments/original/1428369543/img-ivp-chapters.svg?1428369543">
            <div>IVP Chapters are designed to engage young leaders to promote the basic principle that our election process should serve people first.</div>
        </a>
    </li>
</ul>

