// Site Features
//
// Markup: site-features.html
//
// Styleguide components.site-features


.site-features__list,
%site-features__list {
  @extend %layout-max;
  list-style: none;
  padding: 1rem 0;
  font-size: 1.6rem;
  background: white;
}

.site-features__item,
%site-features__item {
  @extend .col-sm-6;
  @extend .col-lg-3;
  border-bottom: solid 1px black;
  text-align: center;
  padding: 0;
  @include breakpoint($screen-sm) {
    border: 0;
  }
  @include breakpoint($screen-lg) {
    border: 0;
    border-left: solid 2px #ccc;
    min-height: 25rem;
    &:first-child {
      border: 0;
    }
  }
}

.site-features__img,
%site-features__img {
  padding: 0 0 1rem;
}

.site-features__link,
%site-features__link {
  @extend %site-features__move;
  padding: 3rem 1rem;
  display: block;
  color: #333;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.site-features__move,
%site-features__move {
  transition: all .5s ease-out;
  &:hover {
    transition: all .5s ease-in;
    transform: translate(0,-50px);
  }
}




img {
  max-width: 100%;
}

%layout-max {
  max-width: 80em;
  margin: auto;
}