// Palette
//
// Markup: palette.html
//
// Styleguide components.palette

%palette {
  a {
    color: inherit;
  }

  h2,
  h3 {
    color: inherit;
  }
}

%palette-1,
.palette-1 {
  @extend %palette;
  background: $palette-1;
  color: $palette-2;
}

%palette-3,
.palette-3 {
  @extend %palette;
  background: $palette-3;
  color: $palette-2;
}

%palette-4,
.palette-4 {
  @extend %palette;
  background: $palette-2;
  color: $palette-1;
}

%palette-5,
.palette-5 {

  @extend %palette;
  background: $palette-5;

  div {
    color: $palette-3;
  }
}
