// Sign Up
//
// Markup: sign-up.html
//
// Styleguide components.sign-up


.sign-up {
  @extend %palette-4;
  @extend %clearfix;
  @extend %rounded-corners;
}

.sign-up--form {
  @extend %palette-1;
  @extend %rounded-corners;
  padding: 1em;
}

.sign-up__input {
  @extend %rounded-corners;
  
  width: 100%;
  padding: .5rem;
  border: 0;
}

.sign-up__section {
  @extend %rounded-corners;
  margin: 0 0 1rem;
}

