// Font
//
// Markup: Font.html
//
// Styleguide components.Font

.font--small,
%font--small {
  @include font-size-line-height(.8rem);
}

.font--button,
%font--button {
  @extend %palette-4;
  font-weight: bold;
  text-transform: uppercase;
}

.font--label,
%font--label {
  @extend %font--button;
  display: inline-block;
  margin-bottom: 0.3rem;
}





