

<div class="font--intro">
    Example introduction text.
</div>

<div class="font--intro--no-border">
    none bordered intro.
</div>

<div class="font--body">
    small body text.
</div>

<div class="font--quote">
    Your blockquote should be indented within body text. There should be a way to reference a formatted author which this example doesn't. It could also automatically format quotes.
</div>
<div class="font--label">
    Label
</div>

<div class="font--label--large">
    Large Label
</div>

<div class="font--label--large__subtitle">
    Label Large Subtitle
</div>

<div class="font--large-text">
    Large Text
</div>

<div class="font--medium-text">
    Med Text
</div>

<div class="font--small">
    Small Text
</div>

<div class="font--replace">
    Default Text
</div>

<div class="font--lightened">
    Light Text
</div>

<button>
    Button Text
</button>

<a class="font--vegan-name">
    Vegan Names
</a>