<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700' rel='stylesheet' type='text/css'>

{{> main-nav }}

<div class="layout-narrow">

    <div style="background: lightgrey; border: 1px, #808080; height: 3rem; text-align: center;"  class="listing">Ad</div>

    <div class="body">

        {{> listing-item title="title 1" }}
        {{> listing-item title="title 2" }}
        {{> listing-item title="title 3" }}
        {{> listing-item title="title 4" }}
        {{> listing-item title="title 5" }}

    </div>

</div>

</div>
