.circle-image,
%circle-image {
  border-radius: 50%;
}

.circle-image--small,
%circle-image--small {
  @extend %circle-image;
  width: 50px;
  height: 50px;
}

.circle-image--large,
%circle-image--large {
  @extend %circle-image;
  width: 120px;
  height: 120px;
}


.circle-image--x-large,
%circle-image--x-large {
  @extend %circle-image;
  width: 220px;
  height: 220px;
}

.circle-image__wrapper,
%circle-image__wrapper {
  img {
    @extend %circle-image--x-large;
    @extend %center-block;
  }
}
