// Spacer
//
// Markup: spacer.html
//
// Styleguide components.spacer


.spacer,
%spacer {
  padding: 1em;
}

.spacer__right,
%spacer__right {
  padding-right: 1rem;
}

.spacer__small,
%spacer__small {
  padding: .25rem .5rem;
}

.spacer__vertical,
%spacer__vertical {
  padding: 1rem 0;
}

.spacer__top,
%spacer__top {
  padding-top: 1rem;
}

.spacer__bottom,
%spacer__bottom {
  padding-bottom: 1rem;
}

.spacer__horizontal,
%spacer__horizontal {
  padding: 0 1rem;
}
