<div class="text-centered spacer__small">
    <a href="/sign-up">GO VEGAN TODAY!</a>
</div>


<div class="main-nav">
    <a href="/" title="pledge vegan home" rel="home" class="item">Pledge Vegan</a>
    <svg class="main-nav__icon" width="30" height="30" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1472v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" fill="#fff"/></svg>
    <ul class="main-nav__list">
        <li><a class="horizontal-list__link" href="/famous-vegans">Famous Vegans</a></li>
        <li><a class="horizontal-list__link" href="/vegan-spotlight/top-100-vegan-quotes">Vegan Quotes</a></li>
        <li><a class="horizontal-list__link" href="/topic/vegan-recipes">Vegan Recipes</a></li>
        <li><a class="horizontal-list__link" href="/contact-page">Contact Us</a></li>
    </ul>
</div>




<script>
    var mainNav = document.getElementsByClassName("main-nav")[0];
    var mainNavIcon = document.getElementsByClassName("main-nav__icon")[0];
    mainNavIcon.addEventListener('click', function() {
        mainNav.classList.toggle("main-nav__active");
    }, false);
</script>