// List Inline
//
// Markup: list-inline.html
//
// Styleguide components.list-inline

@import 'components/list-unstyled/list-unstyled';

@mixin list-inline {
  li {
    @include list-unstyled;
    display: inline-block;
    padding-right: 1rem;

    &:last-child {
      padding-right: 0;
    }
  }
}

.list-inline,
%list-inline {
  @include list-inline;
}

